# 파이썬 시작하기

In [1]:
#001 print 기초

print("Hello World")

Hello World

In [2]:
#002 print 기초
print("Mary's cosmetic")

Mary's cosmetic

In [3]:
#003 print 기초
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [6]:
#004 print 기초
print("C:\Windows")

C:\Windows

In [7]:
#005 print 탭과 줄바꿈
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

* \n은 줄바꿈 \t은 tab

In [9]:
#006 print 여러 데이터 출력
#"오늘은 일요일"으로 출력됩니다.

In [13]:
#007 print 기초
print("naver","kakao","sk","samsung", sep=";")

naver;kakao;sk;samsung

In [14]:
#008 print 기초
print("naver","kakao","sk","samsung", sep="/")

naver/kakao/sk/samsung

In [17]:
# 009 print 줄바꿈
print("first",end="");print("second")

firstsecond

In [18]:
# 010 연산 결과 출력
print(5/3)

1.6666666666666667

# 파이썬 변수

In [19]:
# 011 변수 사용하기
삼성전자 = 50000
총평가금액 = 삼성전자*10
print(총평가금액)

500000

In [21]:
# 012 변수 사용하기
시가총액 = 298000000000000 #298조
현재가 = 50000
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [22]:
# 013 문자열 출력
s = "hello"
t = "python"

print(s,t,sep="! ")

hello! python

In [23]:
# 014 파이썬을 이용한 값 계산
print(2+2*3)

8

In [25]:
# 015 type 함수
a="132"
print(type(a))

<class 'str'>

In [31]:
# 016 문자열을 정수로 변환
num_str = "720"
print(int(num_str), type(int(num_str)))

720 <class 'int'>

In [30]:
# 018 문자열을 실수로 변환
print(float("15.79"), type(float("15.79")))

15.79 <class 'float'>

In [33]:
# 019 문자열을 정수로 변환
year = "2020"
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [36]:
# 020 파이썬 계산
m_price= 48584
month= 36
print(m_price * month)

1749024