# 파이썬 리스트

In [1]:
# 051 리스트 생성
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [2]:
# 052 리스트에 원소 추가
movie_rank.append("배트맨")
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [3]:
# 053 💥원하는 위치 삽입하기
movie_rank.insert(1,"슈퍼맨")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [4]:
# 054 movie_rank 리스트에서 '럭키'를 삭제하라.
# 💥 원하는 위치 삭제하기
del movie_rank[3]
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [5]:
# 055 movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.
del movie_rank[2:4]
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [6]:
# 056
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs= lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [7]:
# 057 다음 리스트에서 최댓값과 최솟값
nums = [1, 2, 3, 4, 5, 6, 7]
print('max: ', max(nums))
print('min: ', min(nums))

max:  7
min:  1

In [8]:
# 058
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [9]:
#059
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [10]:
# 060
nums = [1, 2, 3, 4, 5]
sum(nums)/len(nums)

3.0

In [11]:
# 061
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [12]:
# 062
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [13]:
# 063
nums[1::2]

[2, 4, 6, 8, 10]

In [14]:
# 064
nums = [1, 2, 3, 4, 5]
nums.reverse()
print(nums)

[5, 4, 3, 2, 1]

In [15]:
# 065
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [16]:
# 066 join 메서드 💥
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

" ".join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [17]:
# 067 join 메서드
"/".join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [18]:
# 068 join 메서드
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [19]:
# 069 문자열 split 메서드
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
interest

['삼성전자', 'LG전자', 'Naver']

In [20]:
# 070 리스트 정렬
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

# 파이썬 튜플

In [21]:
# 071
my_variable = ()
type(my_variable)

tuple

In [22]:
# 072
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

In [23]:
# 073 💥
tp =(1,)
type(tp)

tuple

In [24]:
# 074
# tuple의 경우 문자열처럼 원소 값을 변경 불가함

In [25]:
# 075
t = 1, 2, 3, 4 #튜플!!
type(t)

tuple

In [26]:
# 076
t = ('a', 'b', 'c')
('A', 'b', 'c')=t #튜플의 값은 변경되지 않기에, 새로 변수 설정해줘야함

SyntaxError: cannot assign to literal (Temp/ipykernel_17968/2270256624.py, line 3)

In [27]:
t=('A', 'b', 'c')
t

('A', 'b', 'c')

In [28]:
# 077
interest = ('삼성전자', 'LG전자', 'SK Hynix')
print(list(interest), type(interest))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'tuple'>

In [29]:
# 078
interest = ['삼성전자', 'LG전자', 'SK Hynix']
print(tuple(interest),type(interest))

('삼성전자', 'LG전자', 'SK Hynix') <class 'list'>

In [30]:
# 079 튜플 언팩킹
temp = ('apple', 'banana', 'cake')
a, b, c = temp #하나하나 대입되어서 출력
print(a, b, c)

apple banana cake

In [31]:
# 080 range 함수
print(tuple(range(2,100,2)))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)