In [1]:
# 131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수) # 과일이 줄바꿈으로 출력

사과
귤
수박

In [2]:
# 132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####") #과일리스트 들어있는 갯수만큼 반복되어 출력

#####
#####
#####

In [5]:
# 133 동일한 식
print('"A"')
print('"B"')
print('"C"')

A
B
C

In [8]:
# 134 
print('출력: "A"')
print('출력: "B"')
print('출력: "C"')

출력: "A"
출력: "B"
출력: "C"

In [10]:
# 135
print('변환:',"A".lower())
print('변환:',"B".lower())
print('변환:',"C".lower())

변환: a
변환: b
변환: c

In [11]:
# 136
변수=[10,20,30]

for i in 변수:
  print(i)

10
20
30

In [12]:
# 137
for i in range(10,40,10):
  print(i)

10
20
30

In [13]:
# 138
for i in range(10,40,10):
  print(i)
  print("-------")

10
-------
20
-------
30
-------

In [14]:
# 139
print("++++")
for i in range(10,40,10):
  print(i)

++++
10
20
30

In [15]:
# 140
for i in range(4):
  print("-------")

-------
-------
-------
-------

In [16]:
# 141
리스트 = [100, 200, 300]
for i in 리스트:
  print(i+10)

110
210
310

In [17]:
# 142
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
  print("오늘의 메뉴:",i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [19]:
# 143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
  print(len(i))

6
4
4

In [20]:
# 144
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
  print(i,len(i))

dog 3
cat 3
parrot 6

In [21]:
# 145
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
  print(i[0])

d
c
p

In [24]:
# 146
리스트 = [1, 2, 3]
for i in 리스트:
  print("3 x",i)

3 x 1
3 x 2
3 x 3

In [26]:
# 147
리스트 = [1, 2, 3]
for i in 리스트:
  print("3 x",i,"=",3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [29]:
# 148
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
  print(i)

나
다
라

In [31]:
# 149
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
  print(i)

가
다

In [32]:
#150 
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
  print(i)

라
다
나
가

In [33]:
# 151
리스트 = [3, -20, -3, 44]
for i in 리스트:
  if i<0: print(i)

-20
-3

In [34]:
# 152
리스트 = [3, 100, 23, 44]
for i in 리스트:
  if i%3==0: print(i)

3

In [35]:
# 153
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
  if i<20 and i%3==0:
    print(i)

12
18

In [36]:
#154
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
  if len(i) >=3:
    print(i)

study
python
language

In [37]:
# 155
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
  if i.isupper():
    print(i)

A
D

In [38]:
# 156
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
  if i.islower():print()

In [39]:
# 157
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
  print(i.upper())

DOG
CAT
PARROT

In [41]:
# 158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
  a,b =i.split(".")
  print(a)

hello
ex01
intro

In [42]:
# 159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
  s=i.split(".")
  if s[1]=="h":
    print(i)

intra.h
define.h

In [44]:
# 160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
  s=i.split(".")
  if s[1]=="h"or s[1]=="c":
    print(i)
  else: continue

intra.h
intra.c
define.h

In [45]:
# 161
for i in range(0,100):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [46]:
# 162
for i in range(2002,2051,4):
  print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [47]:
# 163
for i in range(1,31):
  if i%3==0: print(i)

3
6
9
12
15
18
21
24
27
30

In [51]:
# 164
for i in range(99,0,-1):
  print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [59]:
# 165
for i in range(10):
  a="0."
  b=str(i)
  a+b
  print(float(a+b))

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [61]:
for num in range(10) :
    print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [62]:
# 166
for i in range(10):
  print("3x{} = {}".format(i,3*i))

3x0 = 0
3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [64]:
# 167
for i in range(10):
  if i%2!=0:
    print("3x{} = {}".format(i,3*i))

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [65]:
# 168
a=0
for i in range(11):
  a+=i
print(a)

55

In [68]:
# 169
a=0
for i in range(11):
  if i%2!=0:
    a+=i
print(a)

25

In [71]:
# 170
a=1
for i in range(1,11):
  a*=i
print(a)

3628800

In [73]:
# 171
price_list = [32100, 32150, 32000, 32500]

for i in price_list:
  print(i)

32100
32150
32000
32500

In [76]:
# 172
for i,j in enumerate(price_list):
  print(i,j)

0 32100
1 32150
2 32000
3 32500

In [77]:
# 173

for i,j in enumerate(price_list):
  print(len(price_list)-1-i,j)

3 32100
2 32150
1 32000
0 32500

In [81]:
# 174
price_list = [32100, 32150, 32000, 32500]
price_list.pop(0)
price_list

for i,j in enumerate(price_list):
  print(100+10*i,j)

100 32150
110 32000
120 32500

In [84]:
# 175
my_list = ["가", "나", "다", "라"]

for i in range(0,len(my_list)-1):
  print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [87]:
# 176
my_list = ["가", "나", "다", "라", "마"]
for i in range(0,len(my_list)-2):
  print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [93]:
# 177
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1,0,-1):
  print(my_list[i],my_list[i-1])

라 다
다 나
나 가

In [97]:
# 178
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
  print(my_list[i+1]-my_list[i])

100
200
400

In [98]:
# 179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
  print(sum(my_list[i:i+3])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [100]:
# 180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility=list()

for i in range(len(low_prices)):
  volatility.append(high_prices[i]-low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [103]:
# 181
apart=[["101호","102호"],["201호","202호"],["301호","302호"]]
apart

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [105]:
# 182
stock=[[100,80],[200,210],[300,330]]
stock

[[100, 80], [200, 210], [300, 330]]

In [106]:
# 183
stock={"시가":[100,200,300], "종가":[80,210,330]}
stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [108]:
# 184
stock={"10/10":[80,110,70,90],"10/11":[210,230,190,200]}
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [111]:
# 185
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
  for j in range(len(i)):
    print(i[j],"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [119]:
# 186
apart = [ [101, 102], [201, 202], [301, 302] ]
apart2 = list(reversed(apart))

for i in apart2:
  for j in range(len(i)):
    print(i[j],"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [ ]:
#더 간단한 방법!!!
for row in apart[::-1]:
    for col in row:
        print(col, "호")

In [120]:
# 187
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart[::-1]:
  for j in i[::-1]:
    print(j,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [121]:
# 188
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
  for j in i:
    print(j,"호")
    print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [122]:
# 189
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
  for j in i:
    print(j,"호")
  print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [123]:
# 190
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
  for j in i:
    print(j,"호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [127]:
# 191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
  for j in i:
    print(j+ (j*0.014*0.01) )

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

In [128]:
# 192
for i in data:
  for j in i:
    print(j+ (j*0.014*0.01) )
  print("----")

2000.28
3050.427
2050.287
1980.2772
----
7501.05
2050.287
2050.287
1980.2772
----
15452.163
15052.107
15552.177
14902.086
----

In [129]:
# 193
result=[]

for i in data:
  for j in i:
    result.append ( j+ (j*0.014*0.01) )
print(result)

[2000.28, 3050.427, 2050.287, 1980.2772, 7501.05, 2050.287, 2050.287, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086]

In [134]:
# 194
result=[]
n=0
for i in data:
  a= [ ]
  for j in i:
    a.append ( j+ (j*0.014*0.01) )
  result.append(a)

result

[[2000.28, 3050.427, 2050.287, 1980.2772],
 [7501.05, 2050.287, 2050.287, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086]]

In [135]:
# 195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:4]:
  print(i[3])

100
190
310

In [140]:
# 196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:4]:
  if i[3]>150: 
    print(i[3])

190
310

In [142]:
# 197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:4]:
  if i[0]<= i[3]: 
    print(i[3])

100
310

In [143]:
# 198
#  고가와 저가의 차이를 변동폭

volatility =[]

for i in ohlc[1:4]:
  volatility.append(i[1]-i[2]) 
  
print(volatility)

[40, 30, 10]

In [144]:
# 199

for i in ohlc[1:4]:
  if i[3] > i[0]:   
    print(i[1]-i[2])

10

In [147]:
# 200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
a=[]

for i in ohlc[1:4]:
  a.append(i[3] - i[0])   
print(sum(a))

0