# 수업에 들어가기 전에

* 확장자명을 볼수있게 설정하기! 파일이름과 헷갈리지 않게! 
 - 메모장으로 미리 작성하여 .py라고 써줄수있기 때문에
 
 
* 번역방식
 - 컴파일러 방식(절차지향): C언어
 - 인터프리터 방식(객체지향): 파이썬 - 플랫폼이 독립적(다른 OS에서 돌릴수 있다)

# 문자열 (string)

**파이썬은 변하지않는 불변 객체이다!!!**

In [4]:
name = "임소나"
name

'임소나'

In [5]:
name1 = '"임소나"입니다'
name1

'"임소나"입니다'

In [12]:
name3 ='''
임소나
이지롱
이건?? 
'''
print(name3)

임소나
이지롱
이건??

## escape string(\\)
* 문자열내의 일부 문자의 의미를 달리하여 `특정한 효과`를 주는 것
* `\n` : new line  / `\t` : tab 등

In [13]:
a="임\n소\n나\n얍!"
print(a)

임
소
나
얍!

In [15]:
a1="임\t소\t나\t얍!"
print(a1)

임	소	나	얍!

In [17]:
type(a1)

str

In [18]:
print('안녕\'소나\'야!!')

안녕'소나'야!!

## 문자열 더하기/곱하기

In [21]:
print( name + a1 )

임소나임	소	나	얍!

In [23]:
print( name * 5)

임소나임소나임소나임소나임소나

## indexing & slicing string
  - 문자열의 각 문자는 순서가 있는데, 이 순서를 **인덱스** 라고 한다.
  - 첫번째 시작문자의 순서는 0으로 시작

In [24]:
s= "hello python"
print(len(s))

12

In [25]:
s[0]

'h'

In [26]:
s[5]

' '

## '-1' 인덱스
  - python의 경우 음수 인덱스를 지원한다.
  - -1이 가장 마지막 인덱스를, -2가 마지막에서 두번째 인덱스를 의미한다.

In [27]:
s[-1]

'n'

In [28]:
s[-2]

'o'

In [29]:
s[-5]

'y'

## 인덱스의 범위
  - 인덱스는 [0, 문자열의 길이) 의 범위만 유효하다.
  - 음수 인덱스를 사용할 경우, [-문자열의 길이, -1]
  - 범위를 넘어갈 경우 에러 발생한다.

## 문자열 slicing
  - slicing은 부분 문자열을 추출한다.
  - [시작:끝]와 같이 명시하여 (시작, 끝)에 해당하는 부분 문자열을 추출한다.
  - 시작, 끝 인덱스가 생략이 되어 있다면, 0부터 혹은 끝까지로 간주한다.

In [32]:
print(s[1:3])

el

In [33]:
print(s[:])

hello python

In [34]:
print(s[::2])

hlopto

In [37]:
print(s[::-1])

nohtyp olleh

In [39]:
print(s[:-1])

hello pytho

In [44]:
print(s[6:13])

python

In [46]:
print(s[6:])

python

## 문자열 함수

- 교재 329쪽부터 참고
- 문자열은 여러가지 기능 제공을 위한 함수를 내장하고 있다.   
- tab키를 이용해서 제공하는 함수들을 확인 할 수 있다.

* **replace** 
 - 문자열 내의 특정 문자를 치환
* **format**
 - 문자열내의 특정한 값을 변수로부터 초기화하여 동적으로 문자열을 생성 
* **split**
 - 문자열을 특정한 문자 구분하여(delimiter) 문자열의 리스트로 치환
* **join**
 - 구분자 문자열과 문자열 리스트 연결하기

In [49]:
s.replace("p","P")

'hello Python'

In [51]:
'abc'.upper()

'ABC'

In [52]:
#format
"{}abc".format("이건뭐.. 영어인가")

'이건뭐.. 영어인가abc'

In [62]:
st="이것도 영어인가봥"
f"{st} def"

'이것도 영어인가봥 def'

In [69]:
"%s ghi"%"영어 좀..."

'영어 좀... ghi'

In [71]:
s.count('p')

1

In [72]:
s.find("h")

0

In [73]:
table = str.maketrans('aeiou',"12345")
table

{97: 49, 101: 50, 105: 51, 111: 52, 117: 53}

In [75]:
"apple".translate(table)

'1ppl2'

In [76]:
'I am %s.'%'sona'

'I am sona.'

In [77]:
'I am %d years old' %32

'I am 32 years old'

In [79]:
"It's %f cm." %166.7 #소수점은 기본 6자리로 고정됨

"It's 166.700000 cm."

In [80]:
"It's %.2f cm." %166.7

"It's 166.70 cm."

In [81]:
"It's %.1f cm." %166.7

"It's 166.7 cm."

In [83]:
"%10s"%"sona"

'      sona'

In [84]:
"%-10s"%"sona"

'sona      '

In [85]:
'1'.zfill(3)

'001'

In [86]:
s.index('py')

6

In [87]:
s.count("o")

2

In [88]:
"hello {0},{1},{2}".format("my","name","is.....")

'hello my,name,is.....'

In [89]:
'sona'.rjust(10)

'      sona'

In [90]:
"sona".ljust(10)

'sona      '

In [97]:
'{0:<10}'.format('my lord')

'my lord   '

In [99]:
'{:<10}'.format('my lord')

'my lord   '

In [101]:
'{1:<20}'.format('my lord',"Thank you")

'Thank you           '

In [96]:
'{0:>10}'.format('my lord')

'   my lord'

In [103]:
'{1:0<20}'.format('my lord',"Thank you")

'Thank you00000000000'

In [107]:
'{1:u<20}'.format('my lord',"Thank you")

'Thank youuuuuuuuuuuu'

In [108]:
'm-y-m-o-m'.split("-")

['m', 'y', 'm', 'o', 'm']

In [112]:
a= 'm','y','m','o','m'
"-".join(a)

'm-y-m-o-m'

In [118]:
love="❤".join(a)
love

'm❤y❤m❤o❤m'

In [117]:
love.split("❤")

['m', 'y', 'm', 'o', 'm']

In [120]:
rule=str.maketrans("❤","🌹")
love.translate(rule)

'm🌹y🌹m🌹o🌹m'

* 특정문자 삭제

In [124]:
s= "* I'm hungry."
s.strip("*.")

" I'm hungry"

In [133]:
#문장부호 찾기

import string
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [132]:
blah = '!"#$%&()*-:;<=>?@[\]^_`{|}~'

blah.strip(string.punctuation)

''

* 비교연산  is 같은 객체인   is not 같은 객체가 아닌..  x or y , x and y , not x
* 문자열 타입
 -  데이터가 여러 문자로 구성되어 있고 다른 문자와 연결될 수 있으며 데이터에 포함된 문자열의 길이를 확인 할 수 있는 데이터 타입
 - 파이썬에서 문자열 데이터 타입은 str  여러줄로 표현할때는 ''' '''  또는 """ """
 - 변할 수 없는 (immutable) vs 변할 수 있는 (mutabel)

In [134]:
a = "sona"
b = "sona"

In [136]:
print( a==b )

True

In [137]:
print( a is b)

True

In [138]:
print( a, id(a), b, id(b)) #문자열의 경우 동일 내용이면 id 동일함

sona 1507991870000 sona 1507991870000

In [141]:
c = a
print( a, id(a), c, id(c) )

sona 1507991870000 sona 1507991870000

In [142]:
b==c

True

**리스트와 튜플은** 복수의 값을 담을 수 있는 데이터 구조이다.

* list - mutable    (생성된 후에 변경 가능)  
* tuple - immutable (생성된 후에 변경 불가능)

# 리스트(list)

## 리스트 만들기
 
```
리스트 = []
리스트 = list()
 ```

In [147]:
# 변수명으로 list쓰면 안된다!!!

a = []
b = list()

print(type(a), type(b))

<class 'list'> <class 'list'>

**비교하기**😃

In [163]:
c ='ccc'.split()
c

['ccc']

In [162]:
c=list("ccc")
c

['c', 'c', 'c']

## 리스트로 형변환하기


 - [] 안에 값을 담아서 생성한다.
 - list() 함수로 생성한다.
 - 문자열.split()함수로 생성한다.

In [150]:
d = "cloth"
d = list(d)
type(d)

list

In [165]:
e = "pant"
e = [e]
type(e)

list

In [170]:
l=[]
ll=[]
print(l==ll)
print(id(l), id(ll)) # 문자열과는 달리 리스트의 경우 값이 같아도 id값이 다름

True
1508025305920 1508025336896

## 리스트 인덱싱
 
 * 문자열의 인덱싱과 동일하게 동작한다.
 * [] 연산자를 이용하여 항목 얻어오기
 * [i] - i번째 원소를 반환
 * i가 음수인 경우도 가능하며 마지막원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [175]:
t = "hello python haha"
list_t = list(t)
print(list_t)

['h', 'e', 'l', 'l', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n', ' ', 'h', 'a', 'h', 'a']

In [178]:
list_t[4]

'o'

In [179]:
list_t[-1]

'a'

In [185]:
list_a=[1,2,3,[4,5,6],7]

list_a[3][1]

5

* 리스트 인덱싱을 할때 몇 차원이 되었든 하나씩 자리값을 써내려가면 됨

## 리스트 개별 아이템에 접근
 - 인덱스에 접근하여 값을 업데이트 가능

In [192]:
t

'hello python haha'

In [195]:
lt= list(t)

lt[0]="H"

In [199]:
print(lt)

['H', 'e', 'l', 'l', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n', ' ', 'h', 'a', 'h', 'a']

In [204]:
elt= 'aa' + t[0]
print(elt, type(elt))

aah <class 'str'>

In [206]:
elt2= 'aa' + t[0:2]
print(elt2, type(elt2)) #문자열 + 인덱싱해서 나온 값 => 문자열

aahe <class 'str'>

In [209]:
lt[6]='P'
print(lt)

['H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'h', 'a', 'h', 'a']

## 리스트 slicing
 - 문자열 슬라이싱과 동일하게 동작한다.
 - 슬라이싱의 결과 역시 list 이다.

In [210]:
a = [1,2,3,4,5,6,7,8,9,10]
a[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [211]:
a[:-1]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [213]:
a[-1:]

[10]

In [215]:
a[::-1] #역순

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [217]:
a[::2]

[1, 3, 5, 7, 9]

## list 함수

* 288쪽 교재참고

* **append()**
 + 리스트의 끝에 항목을 추가한다.

In [223]:
a = [1,2,3,4,5,6,7]

In [224]:
a.append(8)

In [225]:
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [227]:
a.append([9,10,11])
a

[1, 2, 3, 4, 5, 6, 7, 8, [9, 10, 11]]

In [231]:
a.append(12)
a

[1, 2, 3, 4, 5, 6, 7, 8, [9, 10, 11], 12]

+ **extend()**
 * 리스트를 연장한다.
 * += 로도 가능하다.

In [232]:
a1 = [1,2,3]
a2 = [4,5,6]

a1.extend(a2)
print(a1)

[1, 2, 3, 4, 5, 6]

In [260]:
# append와 extend 비교하기

d1 = [1,2,3]
d2 = [1,2,3]

In [250]:
d1.append([4,5])
print(d1)

[1, 2, 3, [4, 5]]

In [261]:
d2.extend([4,5])
print(d2)

[1, 2, 3, 4, 5]

+ **insert()로 항목추가**
 * 리스트의 원하는 위치에 추가 가능하다.
 * 앞에 인덱스를, 뒤에 아이템을 명시한다.

In [262]:
d2

[1, 2, 3, 4, 5]

In [263]:
d2[0]=0
d2

[0, 2, 3, 4, 5]

In [264]:
d2.insert(1,1)

In [265]:
d2

[0, 1, 2, 3, 4, 5]

+ **remove()**
 * 값으로 항목 삭제한다.

In [266]:
d2.remove(0) #remove는 직접적으로 값을 써줌
d2

[1, 2, 3, 4, 5]

In [267]:
#del과 비교하기 del은 인덱싱으로 지정하여 써줌
del d2[4]
d2

[1, 2, 3, 4]

+ **pop()**
  - 지우고자 하는 아이템을 반환 후, 삭제한다.

In [270]:
r=[4,5,6]
r.pop()
r

[4, 5]

In [271]:
r.pop(0)
r

[5]

+ **index()**
 * 찾고자 하는 값의 인덱스 반환한다.

In [272]:
a = [1,2,3,4,5]
a.index(3)

2

* **in 키워드** =>함수가 아니라 키워드!
 + 리스트 내에 해당 값이 존재하는지 확인한다.
 + value in [list]
 + True, False 중 한가지로 반환한다.

In [273]:
2 in a

True

In [274]:
6 in a

False

* **list 정렬**
 + .sort() -> 리스트 자체를 내부적으로 정렬한다.  
 => list가 갖고 있는 함수
 + sorted() -> 리스트의 정렬된 복사본을 반환한다.  
 => 내장함수, 정렬을 하고 싶지만 복사본은 유지하고 싶을 떄 sorted 사용함!!

In [275]:
q = [3,2,4,1,5]
w = [3,2,4,1,5]

In [276]:
# sort
q.sort()

In [277]:
q

[1, 2, 3, 4, 5]

In [282]:
# sorted
sorted(w)

[1, 2, 3, 4, 5]

In [295]:
w #복사본을 반환하니까 변수 설정을 해줘야함

[3, 2, 4, 1, 5]

* reverse 역순정렬
* reversed 역순정렬

In [305]:
e = [3,2,4,1,5]
r = [3,2,4,1,5]

In [313]:
e.sort(reverse=True)
e

[5, 4, 3, 2, 1]

**<비교하기>** reverse 리스트함수와 reversed 내장함수

In [310]:
[i for i in reversed(r)] #reversed는 내장함수니까 사본

[5, 1, 4, 2, 3]

In [311]:
r

[3, 2, 4, 1, 5]

In [312]:
r.reverse() #reverse는 리스트 함수니까 반영이 된다.
print(r)

[5, 1, 4, 2, 3]

* **range를 사용하여 리스트 만들기**
  + range(횟수)
  + 리스트 = list(range(횟수))
  + 리스트 = list(range(시작, 끝))
  + 리스트 = list(range(시작, 끝, 증가폭))

In [286]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [287]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [289]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [292]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [294]:
list(range(-1,5))

[-1, 0, 1, 2, 3, 4]

# 튜플

 - 리스트와 같이 복수개의 값을 갖는 컬렉션 타입이다. 
 - 생성된 후 변경이 불가능하다. 
 - 읽기전용 리스트이다. 
 
 
   + 튜플 = (값,값,값)
   + 튜플 = 값, 값, 값
   + 튜플 = (값,) - 요소가 하나일 때 튜플로 지정하려면 , 를 붙혀준다. 
   + 튜플 = 값,

## 튜플 만들기

In [315]:
b = 1,2,3
type(b)

tuple

In [316]:
c= 1,
type(c) #요소가 하나인 튜플을 만들고 싶을땐 ,로 끝난다.

tuple

In [322]:
# range를 이용하여 tuple만들기 - 리스트와 동일하다. 
a= tuple(range(1,5))
print(a, type(a))

(1, 2, 3, 4) <class 'tuple'>

## **튜플을 리스트로 리스트를 튜플로 만들기**

In [324]:
d = 1,2,3,4,5
type(list(d))

list

In [326]:
type([d])

list

## **list unpacking, tuple unpacking**
 - 리스트나 튜플의 값을 차례대로 변수에 대입한다.
 
 ```
 x = [1, 2, 3]
 a, b, c = x
 y = (4, 5, 6)
 d, e, f = y
 ```

In [329]:
a,b,c = [1,2,3]
print(a)
print(b)
print(c)

1
2
3

In [330]:
 x = [1, 2, 3]
 a, b, c = x

In [332]:
print(a)
print(b)
print(c)

1
2
3

In [335]:
y = (4, 5, 6)
d, e, f = y

In [336]:
print(d,e,f)

4 5 6

## **list packing, tuple packing**
  - 변수에 리스트나 튜플을 할당하는 과정을 뜻한다.  
  - a = [1,2,3] 
  - a = (1,2,3)
  - a = 1,2,3

## 연습문제 - 더 알아보기

*a와 b의 값을 교환하시오
a = 5
b = 4

In [347]:
#  방법1
a = 5
b = 4

temp = a
a = b
b = temp
print(a, b)

4 5

In [342]:
# 방법 2
a,b = b,a
print(a, b)

4 5

# 시퀀스 자료형

* 시퀀스 자료형이란?
 - 값이 연속적으로 이어져 있는 자료형을 말한다. 
 - 리스트, 튜플, range, 문자열 등이 시퀀스 자료형에 해당한다.

## 시퀀스객체안에 원하는 값 확인하기 
 - 값이 있는지 확인 할때는 아래와 같이 in 을 이용한다. 
    - 값 in 시퀀스 객체 
 - in 앞에 not을 붙히면 반대로 값이 없는지 확인한다. 
    - 값 not in 시퀀스객체

In [349]:
a = (1,2,3,4,5)
3 in a

True

In [350]:
2 in range(5)

True

In [351]:
5 not in range(5)

True

## 시퀀스 객체 연결 

- + 연산자를 이용하여 객체를 서로 연결해서 새 객체를 만든다. 
    - 시퀀스객체1 + 시퀀스객체2
- 단, range는 리스트나 튜플을 만든 후 연결해야 한다. 
- 문자열은 + 연산자를 이용하여 문자열을 연결할 수 있다.

In [353]:
"abc" +'def'

'abcdef'

In [354]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [355]:
(7,8,9) + (0,1,2)

(7, 8, 9, 0, 1, 2)

## 시퀀스객체 반복하기

* 연산자를 이용하면 시퀀스 객체를 원하는 횟수만큼 반복할 수 있다. 

- 0 또는 음수를 곱하면 빈 객체가 나온다.  실수는 곱할 수 없다. 

    - 시퀀스객체 * 정수 
    - 정수 * 시퀀스객체
- range는 * 연산자를 사용할 수 없다.
- 문자열은 * 연산자 사용이 가능하다.

## len() 함수 이용해서 개수 구하기
​
- len(리스트)
- len(튜플)
- len(문자열)
- len(range())

In [356]:
len(range(5))

5

In [357]:
len(range(1,5))

4

## del 사용하기

In [358]:
s="sona"

In [359]:
del s[0] #문자열의 경우 하나니까 부분부분 지울 수 없다.

TypeError: 'str' object doesn't support item deletion

In [360]:
del s

In [363]:
print(s)  #전체 다 지웠으니까 오류가 뜸

NameError: name 's' is not defined

In [364]:
z = [1,2,3,4,5]
del z[1]
z

[1, 3, 4, 5]