# 수업에 들어가기 전에

* 공부한 내용에 대해서 기술면접을 보기때문에, 구술로 배운 것을 표현하는 연습을 해보자! ex)리스트란? 튜플이란?

# **dictionary**

 + 키와 값을 갖는 데이터 구조이다.
 + 키는 내부적으로 hash값으로 저장된다.
 + 순서가 없다. 그러므로 인덱스가 존재하지 않는다. 
 
 - Key와 Value의 쌍 여러 개가 { }로 둘러싸여 있다. 
 - 각각의 요소는 Key : Value 형태로 이루어져 있고 쉼표(,)로 구분되어 있다.
 
 ```
 dict = {} 
 dic22 = {key1:value1, key2:value2,....} 
 ```

* json 형식: '키 : 값' 형식

* xml 형식: < >로 앞뒤 넣어서 구분

<img src="//t1.daumcdn.net/thumb/R1280x0/?fname=http://t1.daumcdn.net/brunch/service/user/1grC/image/rEPz4jys5oihbAALUCSFq8fEwy4.PNG" data-filename="캡처.PNG">

## 딕셔너리 만들기

In [3]:
d = {}
type(d)

dict

In [7]:
student={"이름":"임소나", "주소":"경기도 수원시","전화번호":"123-4567"}
type(student)

dict

In [8]:
import pandas as pd

In [23]:
st_pd=pd.Series(data=student)
st_pd

이름           임소나
주소       경기도 수원시
전화번호    123-4567
dtype: object

In [19]:
student["이름"]

'임소나'

In [24]:
st_pd[["이름","주소"]]

이름        임소나
주소    경기도 수원시
dtype: object

In [15]:
d = {"a" :[1,2,3], "b":[4,5,6], "c":[7,8,9]}

In [16]:
d["a"]

[1, 2, 3]

In [26]:
a=dict(zip([1,2,3],["a","b","c"]))
print(a)

{1: 'a', 2: 'b', 3: 'c'}

In [27]:
student["이름"]="임또방"

In [29]:
print(student)

{'이름': '임또방', '주소': '경기도 수원시', '전화번호': '123-4567'}

* 딕셔너리는 변경이 가능한 형태이군!😮

**딕셔너리 관련 함수들은 교재 396쪽참고**

## **딕셔너리 요소 삭제**
  * del 키워드  
    + del a[1]
  * pop() 함수
    + a.pop('key값')

In [31]:
stu=student
print(stu)

{'이름': '임또방', '주소': '경기도 수원시', '전화번호': '123-4567'}

In [32]:
del stu["전화번호"]
print(stu)

{'이름': '임또방', '주소': '경기도 수원시'}

In [37]:
stu.pop("주소")

'경기도 수원시'

In [38]:
print(stu)

{'이름': '임또방'}

## **딕셔너리 요소 추가 및 변경**
 - 기존에 키가 존재 하면, 새로운 값으로 업데이트된다.
 - 존재하지 않으면, 새로운 키, 값 생성된다.

In [41]:
stu["짝꿍"]= "꾸꾸"

In [49]:
print(stu)

{'이름': '임또방', '짝꿍': {'나이', '이름', '사는 곳'}}

In [50]:
import numpy as np

In [51]:
stu["짝꿍"]={"이름":np.nan,'나이':np.nan,"사는 곳":np.nan}

In [52]:
print(stu)

{'이름': '임또방', '짝꿍': {'이름': nan, '나이': nan, '사는 곳': nan}}

In [53]:
stu["짝꿍"]["이름"]="꾸꾸"

In [54]:
print(stu)

{'이름': '임또방', '짝꿍': {'이름': '꾸꾸', '나이': nan, '사는 곳': nan}}

**setdefault()  이용해서 추가하기!!** 

기존 딕셔너리에서 setdefault를 쓰는 경우
1) 만약 그 키 값이 있으면 값을 출력하고
  
2) 만약 그 키 값이 있다면 value값이 None인 상태로 키가 추가된다.

In [55]:
stu.setdefault("이름")

'임또방'

In [56]:
stu.setdefault("리꾸")

In [58]:
print(stu)

{'이름': '임또방', '짝꿍': {'이름': '꾸꾸', '나이': nan, '사는 곳': nan}, '리꾸': None}

## **update()**

 * 두 딕셔너리를 병합한다.
 * 겹치는 키가 있다면 parameter로 전달되는 키 값이 overwrite된다. 즉, 덮어쓰기처럼!

In [62]:
x = {'a':10,'b':20,'c':30,'e':50}
y = {'a':100,'b':200,'c':300,'d':400}


x.update(y)

In [63]:
print(x)

{'a': 100, 'b': 200, 'c': 300, 'e': 50, 'd': 400}

In [65]:
stud={"이름":"또방"}

stu.update(stud)
print(stu)

{'이름': '또방', '짝꿍': {'이름': '꾸꾸', '나이': nan, '사는 곳': nan}, '리꾸': None}

In [66]:
x={'a':10,'b':20,'c':30,'d':40}
x.update(a=100)
print(x)

{'a': 100, 'b': 20, 'c': 30, 'd': 40}

In [67]:
x.update("a"=200) 

#키값을 따옴표를 뗀 상태로 넣어줘야한다!!!!✨

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (Temp/ipykernel_920/4102667977.py, line 1)

In [69]:
y={1:'one',2:'two'}
y.update([[1,"ONE"]]) #따옴표 그대로 쓰려면 한번더 묶어줘야함
print(y)

{1: 'ONE', 2: 'two'}

In [74]:
y={1:'one',2:'two'}
y.update([[1,"one"],[3,"three"]])

In [71]:
y

{1: 'one', 2: 'two', 3: 'three'}

##  **key삭제**

 - del 키워드 사용
 - pop 함수 이용

In [75]:
del y[1]
y

{2: 'two', 3: 'three'}

In [76]:
y.pop(2)
y

{3: 'three'}

## **clear()**

 + 딕셔너리의 모든 키-값 쌍을 삭제한다. 
 * 전부 삭제!

In [77]:
x

{'a': 100, 'b': 20, 'c': 30, 'd': 40}

In [78]:
x.clear()

In [79]:
x

{}

💥**del과 clear의 차이점 알아두자**
del은 아예 전부삭제
clear는 틀은 놔두고 나머지는 전부 삭제

💥**딕셔너리에서의 pop**
여기선 연속된 순서가아니기 때문에 기본적으로 pop되는 아이는 없고, 어떤 값을 pop할 것인지 키값을 적어줘야한다.

In [80]:
a={"a":1,:2}  #key는 없고 value가 있는 경우는 없다
print(a)

SyntaxError: invalid syntax (Temp/ipykernel_920/661191547.py, line 1)

## **in**
 + key값 존재여부를 확인한다.
 + O(1) 연산 - 딕셔너리의 크기와 관계없이 항상 연산의 속도가 일정하다는 의미한다.

In [81]:
x={'a':10,'b':20,'c':30,'d':40}

"a"in x

True

In [82]:
"a" in x.keys()

True

In [84]:
10 in x #키값만 찾을수 있음!

False

## **value access**
 + dict[key]로 접급, 키가 없는 경우 에러 발생 
 + .get() 함수로 접근, 키가 없는 경우 None반환

In [88]:
x["a"]

10

In [89]:
x["z"]  #key가 없는 경우에는 에러가 발생

KeyError: 'z'

In [87]:
x.get("a")

10

In [90]:
x.get("z") #key가 없는 경우에 none이라면서 없다고 반환

### **모든 keys, values 접근**
 + keys() - 키만 반환
 + values() - 값만 반환
 + items() - 키, 값의 튜플을 반환

In [92]:
x={'a':10,'b':20,'c':30,'d':40}

print(x.keys())

dict_keys(['a', 'b', 'c', 'd'])

In [94]:
print(list(x.keys())) #리스트로 바꾸고 싶으면 형변환 하면 됨!

['a', 'b', 'c', 'd']

In [95]:
print(x.values())

dict_values([10, 20, 30, 40])

In [96]:
print(list(x.values()))

[10, 20, 30, 40]

In [ ]:
x={'a':10,'b':20,'c':30,'d':40}

# 리스트 & 튜플로 딕셔너리 만들기 🎉

In [97]:
keys = ['a','b','c','d'] #dict.fromkeys를 이용해 딕셔너리를 만들수 있다.

di=dict.fromkeys(keys)
di

{'a': None, 'b': None, 'c': None, 'd': None}

In [100]:
di2=dict.fromkeys(keys,100)
di2

{'a': 100, 'b': 100, 'c': 100, 'd': 100}

In [101]:
di3=dict(a=10,b=20,c=30)
di3

{'a': 10, 'b': 20, 'c': 30}

In [147]:
#위와 동일한 식 💥💥
di4=dict([("a",10),("b",20),("c",30)])
di4

{'a': 10, 'b': 20, 'c': 30}

# set

 + dictionary에서 key만 활용하는 데이터 구조이다.
 + 수학에서의 집합과 동일한 개념이다.
 + 파이썬 2.3부터 지원된 자료형으로 집합에 관련된 것을 쉽게 처리한다.
 + set 키워드를 이용해서 만들 수 있다. 
 + 빈 set 을 만드는 방법은 set() 을 이용한다. 
 + 특징
     - 중복을 허용하지 않는다. 
     - 순서가 없다.

In [110]:
se={1,2,3}
type(se)

set

In [111]:
se1= set()
print(se1, type(se1))

set() <class 'set'>

## **set()으로 집합으로 변환**


* 중복되는 값은 삭제하고 반환한다.

In [112]:
a= [1,1,1,2,2,3,4,5,6]
a= set(a)
print(a)

{1, 2, 3, 4, 5, 6}

## **set operations**
 - 수학 연산과 동일하다.
 - 교집합, 합집합, 차집합 등 지원한다.

In [132]:
a = {1,2,3}
b = {2,3,4}

print("합집합: ", a-b, a.difference(b))
print("차집합: ", a|b , a.union(b))
print("교집합: ", a&b, a.intersection(b))

합집합:  {1} {1}
차집합:  {1, 2, 3, 4} {1, 2, 3, 4}
교집합:  {2, 3} {2, 3}

## **set 값 추가 제거 하기**

* add : 하나씩 추가
* update : 여러개 추가
* remove : 하나씩 제거
* pop
*

In [133]:
a.add(5)
a

{1, 2, 3, 5}

In [134]:
a.update({4})
a

{1, 2, 3, 4, 5}

In [135]:
a.remove(3)
a

{1, 2, 4, 5}

In [136]:
a.update([5,7])
a

{1, 2, 4, 5, 7}

In [137]:
a.update({8,9})
a

{1, 2, 4, 5, 7, 8, 9}

In [138]:
a.update((10,11))

In [139]:
a

{1, 2, 4, 5, 7, 8, 9, 10, 11}

In [140]:
type(a)

set

In [148]:
#zip 함수

a=[1,2,3]
b=[10,20,30]

list(zip(a,b))

[(1, 10), (2, 20), (3, 30)]

In [149]:
c=[100,200,300]

list(zip(a,b,c))

[(1, 10, 100), (2, 20, 200), (3, 30, 300)]

In [150]:
dict(zip(a,b,c)) #오류 생김! 딕셔너리를 키와 값을 매칭하는 거이기에

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [171]:
a=[1,2,3]
b=[10,20,30]
c=[100,200,300]
list(zip(b,c))

[(10, 100), (20, 200), (30, 300)]

In [170]:
a=dict(zip(a,list(zip(b,c))))
a

{1: (10, 100), 2: (20, 200), 3: (30, 300)}

# **list 복사**

## 값과 id값 동일(연동개념)

In [7]:
names = ['kang','kim','hong','lee']

In [8]:
names1=names
names1

['kang', 'kim', 'hong', 'lee']

In [15]:
names1[0]="choi"
print(names1, names) #names도 같이 바뀜!!!!!💥

['choi', 'kim', 'hong', 'lee'] ['choi', 'kim', 'hong', 'lee']

In [11]:
print(id(names), id(names1))

2934753985600 2934753985600

## 값은 동일, id가 다른.copy() 함수(틀만 복사 개념)

* copy는 1차원적인 틀만 복사해줌!

In [18]:
##비교하기

names = ['kang','kim','hong','lee']
names2=names.copy()
names2[0]="choi"

In [19]:
print(names, names2) #names 바뀌지 않음!!!!!💥

['kang', 'kim', 'hong', 'lee'] ['choi', 'kim', 'hong', 'lee']

In [20]:
print(id(names),id(names2))

2934753938112 2934753984064

In [21]:
list_a=[[1,2],[3,4],[5,6]]
list_b=list_a.copy()
print(list_a,id(list_a))
print(list_b,id(list_b))

[[1, 2], [3, 4], [5, 6]] 2934754001728
[[1, 2], [3, 4], [5, 6]] 2934753999616

In [22]:
list_b[0][0]=100

In [23]:
print(list_a,id(list_a))
print(list_b,id(list_b))

#아이디 값은 다르지만 값이 같이 바뀌어버림!!
#2차원리스트에 대한 주소값은 list_a와 동일하기 떄문!!!
# 즉 copy의 경우 1차원에서 유용하게 사용

[[100, 2], [3, 4], [5, 6]] 2934754001728
[[100, 2], [3, 4], [5, 6]] 2934753999616

## copy()함수의 한계 => 대책방안은??

* **import copy**
* **copy.deepcopy**

In [24]:
### 이에 대한 대책은??

import copy

In [25]:
list_a=[[1,2],[3,4],[5,6]]
list_c=copy.deepcopy(list_a)

In [26]:
print(list_a,id(list_a))
print(list_c,id(list_c))

[[1, 2], [3, 4], [5, 6]] 2934754004096
[[1, 2], [3, 4], [5, 6]] 2934753999104

In [27]:
list_c[0][0]=500

print(list_a,id(list_a))
print(list_c,id(list_c))

[[1, 2], [3, 4], [5, 6]] 2934754004096
[[500, 2], [3, 4], [5, 6]] 2934753999104

# 조건문

+ 조건에 따라서 다르게 수행해야할 경우에 사용한다.
 + 조건문의 결과는 boolean(참, 거짓)으로 표현 된다. 
 + if, elif, else 키워드를 사용한다.
 + if, elif, else 블록에 종속된 코드는 들여쓰기로 표현한다.
 + 들여쓰기 된 코드를 블록(block), 또는 코드블록이라고 한다.
 + if 조건 : 문법으로 사용한다.

```python
if 조건문:
    수행할 문장1
    수행할 문장2
    ...
    
else:
    수행할 문장A
    수행할 문장B
    ...
```

In [33]:
a=20
if a==10:
    print("OK!")
else:
    print("No!!")

No!!

In [34]:
a=0
b=10
c=[1,2]
d=[]

In [35]:
print(bool(a),bool(b),bool(c),bool(d))

False True True False

In [37]:
if b: 
    print("트루트루")
else: 
    print("폴스?펄스?")

트루트루

In [38]:
print(0==True)
print(1==True)
print(10==True)

False
True
False

## **비교연산자** 
    + <, >, ==, !=, >=, <=

* AND, OR, NOT 
  - 조건문에 사용되는 조건의 경우, boolean이기 때문에, 논리식 AND, OR, NOT 이 사용가능하다.
  - AND : 모든 조건이 참일 때만 참.  
  - OR : 둘 중 하나만 참이어도 참.
  - NOT : 거짓이면 참. 참이면 거짓. 
  
* 논리표 

|            A  |           B |      AND  |        OR |       NOT A|
|:--: |:--:|:--:|:--:|:--:|
|T|T|T|T|F|
|T|F|F|T|F|
|F|T|F|T|T|
|F|F|F|F|T|

* 우선순위
  - NOT > AND > OR

In [40]:
name="sona"
score=100
if name=="sona" and score==90:
    print("90점 맞은 소나")
elif name=="sona" or score==90:
    print("소나 이거나 점수가 90점이거나")
else: print("오류발생의 경우겠지?")

소나 이거나 점수가 90점이거나

In [44]:
name="sona"
score=100

if not name=="sona" and score==100:
    print("소나가 아니거나 점수가 100점이거나")
elif name=="sona" and not score==100:
    print("소나 이거나 점수가 100점이 아니거나")
else: print("이건가보지")

이건가보지

## in, not in

In [46]:
a=6
if a in [1,2,3]:
    print("들어있다!")

In [47]:
a=6
if a not in [1,2,3]:
    print("안들어있다!")

안들어있다!

## pass

- 조건문에서 아무일도 하지 않는다. 
   - 즉, 반복문 수행에있어서 전혀 영향을 끼치지 않습니다.

- pass가 사용되는 경우는 1. 조건문에서 넣어줄 조건이 딱히 없을경우, 2. class 선언할 때, 초기에 넣어줄 값이 없을 때 정도로 생각할 수 있을 것 같습니다.

- 일단 코드를 작성한 후 동작 확인을 위해서 실행할 때, 해당 부분에서 오류가 발생하지 않도록 하기위해 많이 사용한답니다.

In [57]:
a=6
if a==6:
    pass
elif a!=7:
    print("7이 아니다")
else:
    print("뿅")

1.     pass : 실행할 코드가 없는 것으로 다음 행동을 계속해서 진행합니다.

2.     continue : 바로 다음 순번의 loop를 수행합니다.

3.     break : 반복문을 멈추고 loop 밖으로 나가도록합니다.

https://chancoding.tistory.com/7 참고!!

## if의 조건이 bool이 아닌 경우
 * 일반적으로는 조건문에는 bool이 주로 위치 한다.
 * 하지만, 정수, 실수, 문자열 리스트 등 기본 타입도 조건에 사용 가능하다
 
 * False로 간주되는 값 (각 타입의 기본값)
     * None
     * 0
     * 0.0
     * ''
     * [] -> 빈 리스트
     * () -> 빈 튜플
     * {} -> 빈 딕셔너리
     * set() -> 빈 집합
 * 그밖에는 모두 True로 간주

## if, else
  - if가 아닌 경우, 나머지 조건을 표현하고 싶다면 바로 아래 else 문을 사용한다.
  - if조건이 True인 경우에는 if 블록의 코드가 수행되고, 거짓인 경우 else 블록의 코드가 수행된다.

In [61]:
# 짝수인 경우에는 2로 나눈 값을 출력하고
# 홀수인 경우에는 1을 더한 값을 출력해라
#input() 을 이용해서 값을 입력 받아서 처리하세요. 

a=int(input("숫자를 입력해보세용"))
if a % 2 == 0:
    print(a/2)
else:
    print(a+1)

숫자를 입력해보세용2
1.0

In [63]:
#짝수/홀수 구분하기

a=int(input())
if a%2==0: print("짝수")
else: print("홀수")

3
홀수

## if, elif, else
  - 조건이 여러개인 경우, 다음 조건을 elif 블록에 명시 가능하다.
  - 이런 경우, 각 조건을 확인 후 True인 조건의 코드 블록을 실행 한다.
  - elif는 개수에 제한없이 사용 가능하다.

```python
If 조건문:
    수행할 문장1 
    수행할 문장2
    ...
elif 조건문:
    수행할 문장1
    수행할 문장2>
    ...
elif 조건문:
    수행할 문장1
    수행할 문장2
    ...
...
else:
    수행할 문장1
    수행할 문장2
   ... 
```

In [70]:
a=1000

if a>1000:
    pass
elif a==1000:
    print("1000원이네")
else: "에러"

1000원이네

## 중첩 조건문(nested condition)
  - 조건문의 경우 중첩하여 작성 가능하다.
  - 중첩 개수에 제한이 없다.

In [69]:
#2의 배수입니다. 3의 배수입니다

a=int(input())

if a%2==0: 
    print("2의 배수입니다")
    if a%3==0: 
        print("3의 배수입니다")
    else: 
        print("2의 배수도, 3의 배수도 아닙니다!")

6
2의 배수입니다
3의 배수입니다

## 조건부 표현식 (conditional expression)
- 조건부 표현식의 정의 방법

```
 조건문이 참인 경우 if 조건문 else 조건문이 거짓인 경우
```
- 예를 들면

```
if score >= 60:
    message = "pass"
else:
    message = "fail"
    
```
- 위와 같은 코드를 파이썬의 조건부 표현식을 이용해서 표기하면 아래와 같다. 

```
message = "pass" if score >= 60 else "fail" 
```

-  이런 조건부 표현식은 가독성이 좋고, 한줄로 작성가능해서 자주 사용 된다.

In [72]:
a=input()

a = print("정수") if type(a)==int else print("정수아님")

10
정수아님

In [74]:
#위와 동일한 식

a=input()

if type(a)==int:
    print("정수")
else:
    print("정수아님")

10
정수아님

# while 반복문

 + 반복적인 작업을 가능하게 해주는 도구이다.
 + 특정 조건을 만족하는 경우 수행할 수 있다.
 + 리스트, 문자열, 튜플 등 컬렉션 타입의 아이템을 하나씩 순회하면서 사용 가능하다.
 + 코드 작업에서, 가장 많이 사용하는 구문 중 하나이다.
 + while을 사용할 경우, 반복문을 멈추게 할 문장이 필요하다. 
   + 그렇지 않으면 셀이 무한히 수행되며 이를 무한루프라고 한다.
   + jupyter notebook의 재부팅이 필요

while 문
  - while  조건이 True일 경우, while 코드 블록을 계속 수행한다.
  - while 코드 블록
    - if와 마찬가지로 while문 아래의 들여쓰기로 작성 된 부분을 의미한다.
  - 조건이 False가 되면 블록 수행을 멈추고 이후 코드를 실행한다.
  
+ while문의 기본구조
 
 ```
 while 조건문 : 
     수행할 문장1
     수행할 문장2
     ....

## while 문을 이용한 리스트 출력하기

In [85]:
a = [1,2,3,4]
index=0

while index<len(a):
    print(a[index])
    index+=1

1
2
3
4

## while 실습
1. [1, 10, 9, 24, 25, 26] 리스트에서 20보다 큰 값만 출력하세요. 
2. 위의 리스트에서 짝수인 경우만 출력하세요.

In [82]:
# 1. [1, 10, 9, 24, 25, 26] 리스트에서 20보다 큰 값만 출력하세요. 
a=[1, 10, 9, 24, 25, 26]
index=0

while index<len(a):
    if a[index]>20:
        print(a[index])
    index+=1

24
25
26

In [84]:
# 2. 위의 리스트에서 짝수인 경우만 출력하세요. 
a=[1, 10, 9, 24, 25, 26]
index=0

while index<len(a):
    if a[index]%2==0:
        print(a[index])
    index+=1

10
24
26

## 무한루프
 - while의 경우 종료가 되지 않도록 코드를 작성하면 블록에서 빠져나올 수 없다.
 - Ctrl + c 를 눌러서 종료시킨다. 
 - jupyter notebook 에서는 'Interrupt the kernel' (정지버튼)을 눌러서 멈춘다.

In [ ]:
While True:
    print("hi")
    
#     ==> 무한 루프 상태에 빠짐

## break 
 + loop를 중단할 때 사용한다.
 + 보통 조건문 안에서 수행되며, 조건을 만족하는 경우 loop를 빠져나온다.

In [86]:
while True:
    num = int(input("숫자를 입력해주세요."))
    print(num)
    if num==1:
        break

숫자를 입력해주세요.10
10
숫자를 입력해주세요.7
7
숫자를 입력해주세요.6
6
숫자를 입력해주세요.1
1

## continue
  + 특정한 경우에는 코드를 수행하지 않고 반복문을 계속 실행한다.

In [88]:
index=0
while index<10:
    index+=1
    if index==5: #index값이 5일 때 출력되지 않음
        continue
    print(index)

1
2
3
4
6
7
8
9
10

## 1 - 100까지 더하기

In [95]:
a=1
b=0
while a!=101:
    b+=a
    if a==100: print(b)
    a+=1

5050

# for 반복문 
 - 리스트, 문자열 등등 순회 가능한 객체를 순회하면서 값을 처리할 때 사용한다. 
 - 모든 아이템이 순회되면 for 블록 종료된다.
 - for문의 기본구조
```python
for 변수 in 리스트(또는 튜플, 문자열):
    수행할 문장1
    수행할 문장2

### **for문 사용해보기**

In [99]:
a = [1,2,3,4,5]

for value in a:
    print(value, end=" ")

1 2 3 4 5

In [100]:
a = (1,2,3,4,5)

In [101]:
for i in range(5):
    print(i)

0
1
2
3
4

In [103]:
# 1~100까지 더하기

a=0

for i in range(101):
   a+=i
print(a)

5050

In [106]:
score=[10,20,30,40,50,60,70]

for i in score:
    if i > 60: 
        print(i)

70

In [109]:
#format과 for반복문과의 조합

score=[10,20,30,40,50,60,70,80,90,100]

for i in range(len(score)):
    print("{}번 학생 점수는??".format(i),score[i],"입니다!!")

0번 학생 점수는?? 10 입니다!!
1번 학생 점수는?? 20 입니다!!
2번 학생 점수는?? 30 입니다!!
3번 학생 점수는?? 40 입니다!!
4번 학생 점수는?? 50 입니다!!
5번 학생 점수는?? 60 입니다!!
6번 학생 점수는?? 70 입니다!!
7번 학생 점수는?? 80 입니다!!
8번 학생 점수는?? 90 입니다!!
9번 학생 점수는?? 100 입니다!!

### 문자열의 아이템 출력하기
 - 문자열의 경우 순회 가능, 리스트의 유사하게 순회 가능하다.

In [111]:
for num in "Hello":
    print(num)

H
e
l
l
o

### 리스트 아이템 출력하기

In [112]:
for num in [2,2,3,3,5,]:
    print(num)

2
2
3
3
5

### dict의 아이템 출력하기
  - dictionary의 경우 기본적으로 순회 하게 되면 key값을 참조한다.
  - keys()함수를 이용하여 key 값만 순회 가능하다.
  - values()함수를 이용하여 value 값만 순회 가능하다.
  - items()함수를 이용하여 tuple형태로 key, value 순회 가능하다.💥💥

In [114]:
person={"이름":"소나","나이":"뭘까요?"}

In [118]:
for key in person.keys():
    print(key)

이름
나이

In [120]:
person = {'name':'kang','phone':'010-111-1111','address':'서울시 강남구'}
for i in person.keys():
    print(i)

name
phone
address

In [122]:
for i in person.values():
    print(i)

kang
010-111-1111
서울시 강남구

In [121]:
for i in person.items():
    print(i)

('name', 'kang')
('phone', '010-111-1111')
('address', '서울시 강남구')

### for에서 index 사용하기
  - 기본적으로 for에 리스트를 순회하는 경우, 값만 추출 한다.
  - 아래와 같은 코드로 인덱스와 값 모두 사용 가능(enumerate 함수 이용)하다.

* enumerate는 인덱스와 값을 같이 갖고 온다

In [123]:
a = [10,20,30,40,50]
for i in enumerate(a):
    print(i)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)

In [125]:
for c,d in enumerate(a):
    print(c,end="-짝꿍-")
    print(d)

0-짝꿍-10
1-짝꿍-20
2-짝꿍-30
3-짝꿍-40
4-짝꿍-50

###  break
  - 반복문을 수행하는 도중 break를 만나면 loop 종료가 가능하다.

In [126]:
for i in a:
    if i ==30:
        break
    print(i)

10
20

### continue
 - 반복문을 수행하는 도중 continue를 만나면 해당 아이템을 건너 뛴다.

In [127]:
for i in a:
    if i ==30:
        continue
    print(i)

10
20
40
50

### loop 중첩
  - 반복문의 경우에도 중첩하여 사용 가능하다.
  - 중첩이라는 것은 반복문 블록의 코드안에 또 반복문의 코드가 작성되는 것을 의미한다.
  - 이런 경우, 내부 루프는 외부 루프가 수행되는 만큼 반복 수행 된다.
  - 또한 중첩의 경우 무한히 가능하다.

```
for 변수 in 리스트(또는 튜플, 문자열):
    for 변수 in 리스트(또는 튜플, 문자열):
        수행할 문장1
        수행할 문장2
        ...
    ...
 
```

In [130]:
a=[1,2,3]
b=[10,20,30]
for i in a:
    for j in b:
        print(i,j)

1 10
1 20
1 30
2 10
2 20
2 30
3 10
3 20
3 30

### 구구단 출력하기

```
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
...
2 * 9 = 18
3 * 1 = 3
..
3 * 9 = 27
...
9 * 1 = 9
...
9 * 9 = 81
```

In [131]:
for i in range(1,10):
    for j in range(1,10):
        print(i,"*",j,"=",i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [159]:
for i in range(1,10):
    for j in range(1,10):
        print(j,"*",i,"=",i*j,end="\t")

1 * 1 = 1	2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9	1 * 2 = 2	2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18	1 * 3 = 3	2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27	1 * 4 = 4	2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36	1 * 5 = 5	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45	1 * 6 = 6	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54	1 * 7 = 7	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63	1 * 8 = 8	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72	1 * 9 = 9	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

### collection의 길이
 - len() 내장함수로 계산 가능하다.
 - 내장함수란 파이썬 내부에 구현되어 있어서, import하지 않고도 사용 가능한 함수를 의미한다.
 - abs, len, type, range 등이 있다.

### range 함수
  - 리스트를 쉽게 만들 수 있는 내장함수이다.
  - 주어진 값에 따라 다양한 결과를 반환한다.
  - 숫자리스트를 자동으로 만들어 주는 range함수와 for문은 함께 자주 사용된다. 
 
```python
range(10)       -> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(2, 10)    -> [2, 3, 4, 5, 6, 7, 8, 9] 
range(2, 10, 3) -> [2, 5, 8] 
```

* 1 - 100까지의 리스트 생성하기

In [134]:
print(list(range(1,101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

* 1부터 100사이의 5의 배수만을 갖는 리스트를 생성하시오

In [136]:
list(range(0,100,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

### **List comprehension** 
- [표현식 for 항목 in 반복가능객체]
- [표현식 for 항목 in 반복가능객체 if 조건문]

In [137]:
[ i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [139]:
[ i for i in range(1,11) if i>5]

[6, 7, 8, 9, 10]

In [146]:
[ i if i>5 else "6보다 작은 수네여!" for i in range(1,11) ]


#else 조건문까지 있을 경우에는 왼쪽에다가 써준담!

['6보다 작은 수네여!',
 '6보다 작은 수네여!',
 '6보다 작은 수네여!',
 '6보다 작은 수네여!',
 '6보다 작은 수네여!',
 6,
 7,
 8,
 9,
 10]

### 연습문제
   
  1. 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오. 
  1. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오. (sorted, sort 사용 금지)
  1. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요.
  1. 위의 리스트중에서 짝수에는 2를 홀수에는 3을곱해서 각각 짝수, 홀수 리스트를 새로 작성하시오.

In [149]:
# 1.1~100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오.

for i in range(1,101):
    if i%2==0 or i%11==0:
        print(i)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

In [150]:
# 2. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오. (sorted, sort 사용 금지)

print("최대값은??",max(a))
print("최소값은??",min(a))

최대값은?? 3
최소값은?? 1

In [151]:
# 3. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요
print("평균값은",sum(a)/len(a))

평균값은 2.0

In [153]:
# 4. 위의 리스트중에서 짝수에는 2를 홀수에는 3을 곱해서 
# 각각 짝수, 홀수 리스트를 새로 작성하시오.

In [154]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

In [155]:
짝수=list()
홀수=list()

for i in a:
    if i%2==0:
        짝수.append(i)
    else: 
        홀수.append(i)
print(짝수)
print(홀수)

[22, 4, 98, 20]
[1, 3, 7, 21, 55, 87, 99, 19, 45]