# 파이썬에서 sql 돌리기

**<환경>** DB 모듈 설치한다. - !pip install pymysql  
1. DB 모듈 import 한다. -import pymysql
2. DB 접속 - DB 접속 객체를 얻어온다.
3. 쿼리작성
4. 쿼리실행
5. 결과값을 얻어오기
6. 접속 종료

## sql 가져오기 (기본적으로 튜플형태로 가져옴)

In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [95]:
import pymysql as pm

In [96]:
# mysql은 3306을 기본으로 사용함! 
# connection에서 port 번호 확인하기!

conn = pm.connect(host="localhost", port =3306, db='kdtdb', passwd="kdt", user="kdt" )
conn

# 제대로 접속이 된 경우 <pymysql.connections.Connection at 0x19d28afda60>로 보인다.

 - connect()로 db를 얻어온다
 - cursor()라는 함수를 이용하여 작업을한다.
 - execute() 함수로 실행한다.

In [97]:
cur = conn.cursor()

In [98]:
sql = "select * from pets"
cur.execute(sql)
#16건을 가져온거다.

17

In [99]:
for i in cur:
    print(i)

('Fluffy', 'Harold', 'cat', 'f', datetime.date(1999, 2, 4), None)
('Fluffy', 'Harold', 'cat', 'f', datetime.date(1999, 2, 4), None)
('doongi', None, None, None, None, None)
('abc', '1', None, None, None, None)
('def', '2', None, None, None, None)
('ghi', '3', None, None, None, None)
('Fluffy', 'Harold', 'cat', 'f', datetime.date(1993, 2, 4), '0000-00-00')
('Claws', 'Gwen', 'cat', 'm', datetime.date(1994, 3, 17), '0000-00-00')
('Buffy', 'Harold', 'dog', 'f', datetime.date(1989, 5, 13), '0000-00-00')
('Fang', 'Benny', 'dog', 'm', datetime.date(1990, 8, 27), '0000-00-00')
('Bowser', 'Diane', 'dog', 'm', datetime.date(1979, 8, 31), datetime.date(1995, 7, 29))
('Chirpy', 'Gwen', 'bird', 'f', datetime.date(1998, 9, 11), '0000-00-00')
('Whistler', 'Gwen', 'bird', None, datetime.date(1997, 12, 9), '0000-00-00')
('Slim', 'Benny', 'snake', 'm', datetime.date(1996, 4, 29), '0000-00-00')
('KKUKKU', 'sona', 'dog', None, None, None)
('DDoDDo', 'sona', 'lion', None, None, None)
('kiki', 'sona', None, None, None, None)

In [100]:
cur.close()

## 딕셔너리 형태로 값 얻어오기

In [46]:
# mysql은 3306을 기본으로 사용함! 
# connection에서 port 번호 확인하기!

conn = pm.connect(host="localhost", port =3306, db='kdtdb', passwd="kdt", user="kdt" )
dicccc = conn.cursor(pm.cursors.DictCursor)
conn

# 제대로 접속이 된 경우 <pymysql.connections.Connection at 0x19d28afda60>로 보인다.

In [40]:
cur = conn.cursor()

In [43]:
sql = "select * from pets"
dicccc.execute(sql)
#16건을 가져온거다.

16

In [44]:
for i in dicccc:
    print(i)

{'name': 'Fluffy', 'owner': 'Harold', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(1999, 2, 4), 'death': None}
{'name': 'Fluffy', 'owner': 'Harold', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(1999, 2, 4), 'death': None}
{'name': 'doongi', 'owner': None, 'species': None, 'sex': None, 'birth': None, 'death': None}
{'name': 'abc', 'owner': '1', 'species': None, 'sex': None, 'birth': None, 'death': None}
{'name': 'def', 'owner': '2', 'species': None, 'sex': None, 'birth': None, 'death': None}
{'name': 'ghi', 'owner': '3', 'species': None, 'sex': None, 'birth': None, 'death': None}
{'name': 'Fluffy', 'owner': 'Harold', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(1993, 2, 4), 'death': '0000-00-00'}
{'name': 'Claws', 'owner': 'Gwen', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(1994, 3, 17), 'death': '0000-00-00'}
{'name': 'Buffy', 'owner': 'Harold', 'species': 'dog', 'sex': 'f', 'birth': datetime.date(1989, 5, 13), 'death': '0000-00-00'}
{'name': 'Fang', 'owner': 'Benny', 'species': 'dog', 'sex': 'm', 'birth': datetime.date(1990, 8, 27), 'death': '0000-00-00'}
{'name': 'Bowser', 'owner': 'Diane', 'species': 'dog', 'sex': 'm', 'birth': datetime.date(1979, 8, 31), 'death': datetime.date(1995, 7, 29)}
{'name': 'Chirpy', 'owner': 'Gwen', 'species': 'bird', 'sex': 'f', 'birth': datetime.date(1998, 9, 11), 'death': '0000-00-00'}
{'name': 'Whistler', 'owner': 'Gwen', 'species': 'bird', 'sex': None, 'birth': datetime.date(1997, 12, 9), 'death': '0000-00-00'}
{'name': 'Slim', 'owner': 'Benny', 'species': 'snake', 'sex': 'm', 'birth': datetime.date(1996, 4, 29), 'death': '0000-00-00'}
{'name': 'KKUKKU', 'owner': 'sona', 'species': 'dog', 'sex': None, 'birth': None, 'death': None}
{'name': 'DDoDDo', 'owner': 'sona', 'species': 'lion', 'sex': None, 'birth': None, 'death': None}

In [45]:
cursor.close()
conn.close()

# 함수로 지정해주기
  
 * 자주 사용하니까 함수로 지정해줘서 이후 계속 사용할 수 있도록 한다.

In [48]:
#DB 접속하는 함수 정의

def getConn():
    conn = pm.connect(host="localhost", port =3306, db='kdtdb', passwd="kdt", user="kdt" )
    return conn

In [51]:
name = input("pet 이름은???")
owner = input("pet 주인이름은??")

pet 이름은???kiki
pet 주인이름은??sona

In [59]:
a_conn = getConn()
a_conn

In [64]:
a_cursor = a_conn.cursor()

query = '''
insert into pets (name,owner)
values(%s,%s)
'''

In [65]:
a_cursor.execute(query,(name,owner))
a_conn.commit()

In [66]:
a_cursor.close()
a_conn.close()

* fetchall() 전체 페이지 가져오기
* fetchmany() 원하는 만큼 가져오기
* fetchone() 하나 가져오기

In [70]:
conn =getConn()
curs = conn.cursor(pm.cursors.DictCursor)
sql = "select * from pets"
curs.execute(sql)
rows = curs.fetchall()
rows

[{'name': 'Fluffy',
  'owner': 'Harold',
  'species': 'cat',
  'sex': 'f',
  'birth': datetime.date(1999, 2, 4),
  'death': None},
 {'name': 'Fluffy',
  'owner': 'Harold',
  'species': 'cat',
  'sex': 'f',
  'birth': datetime.date(1999, 2, 4),
  'death': None},
 {'name': 'doongi',
  'owner': None,
  'species': None,
  'sex': None,
  'birth': None,
  'death': None},
 {'name': 'abc',
  'owner': '1',
  'species': None,
  'sex': None,
  'birth': None,
  'death': None},
 {'name': 'def',
  'owner': '2',
  'species': None,
  'sex': None,
  'birth': None,
  'death': None},
 {'name': 'ghi',
  'owner': '3',
  'species': None,
  'sex': None,
  'birth': None,
  'death': None},
 {'name': 'Fluffy',
  'owner': 'Harold',
  'species': 'cat',
  'sex': 'f',
  'birth': datetime.date(1993, 2, 4),
  'death': '0000-00-00'},
 {'name': 'Claws',
  'owner': 'Gwen',
  'species': 'cat',
  'sex': 'm',
  'birth': datetime.date(1994, 3, 17),
  'death': '0000-00-00'},
 {'name': 'Buffy',
  'owner': 'Harold',
  'species': 'dog',
  'sex': 'f',
  'birth': datetime.date(1989, 5, 13),
  'death': '0000-00-00'},
 {'name': 'Fang',
  'owner': 'Benny',
  'species': 'dog',
  'sex': 'm',
  'birth': datetime.date(1990, 8, 27),
  'death': '0000-00-00'},
 {'name': 'Bowser',
  'owner': 'Diane',
  'species': 'dog',
  'sex': 'm',
  'birth': datetime.date(1979, 8, 31),
  'death': datetime.date(1995, 7, 29)},
 {'name': 'Chirpy',
  'owner': 'Gwen',
  'species': 'bird',
  'sex': 'f',
  'birth': datetime.date(1998, 9, 11),
  'death': '0000-00-00'},
 {'name': 'Whistler',
  'owner': 'Gwen',
  'species': 'bird',
  'sex': None,
  'birth': datetime.date(1997, 12, 9),
  'death': '0000-00-00'},
 {'name': 'Slim',
  'owner': 'Benny',
  'species': 'snake',
  'sex': 'm',
  'birth': datetime.date(1996, 4, 29),
  'death': '0000-00-00'},
 {'name': 'KKUKKU',
  'owner': 'sona',
  'species': 'dog',
  'sex': None,
  'birth': None,
  'death': None},
 {'name': 'DDoDDo',
  'owner': 'sona',
  'species': 'lion',
  'sex': None,
  'birth': None,
  'death': None},
 {'name': 'kiki',
  'owner': 'sona',
  'species': None,
  'sex': None,
  'birth': None,
  'death': None}]

In [71]:
conn =getConn()
curs = conn.cursor(pm.cursors.DictCursor)
sql = "select * from pets"
curs.execute(sql)
rows = curs.fetchone()
rows

{'name': 'Fluffy',
 'owner': 'Harold',
 'species': 'cat',
 'sex': 'f',
 'birth': datetime.date(1999, 2, 4),
 'death': None}

In [73]:
conn =getConn()
curs = conn.cursor(pm.cursors.DictCursor)
sql = "select * from pets"
curs.execute(sql)
rows = curs.fetchmany(5)
rows

[{'name': 'Fluffy',
  'owner': 'Harold',
  'species': 'cat',
  'sex': 'f',
  'birth': datetime.date(1999, 2, 4),
  'death': None},
 {'name': 'Fluffy',
  'owner': 'Harold',
  'species': 'cat',
  'sex': 'f',
  'birth': datetime.date(1999, 2, 4),
  'death': None},
 {'name': 'doongi',
  'owner': None,
  'species': None,
  'sex': None,
  'birth': None,
  'death': None},
 {'name': 'abc',
  'owner': '1',
  'species': None,
  'sex': None,
  'birth': None,
  'death': None},
 {'name': 'def',
  'owner': '2',
  'species': None,
  'sex': None,
  'birth': None,
  'death': None}]

# pandas 판다스

In [75]:
import pandas as pd
conn=getConn()
result = pd.read_sql_query("select * from pets",conn)
result

        name   owner species   sex       birth       death
0     Fluffy  Harold     cat     f  1999-02-04        None
1     Fluffy  Harold     cat     f  1999-02-04        None
2     doongi    None    None  None        None        None
3        abc       1    None  None        None        None
4        def       2    None  None        None        None
5        ghi       3    None  None        None        None
6     Fluffy  Harold     cat     f  1993-02-04  0000-00-00
7      Claws    Gwen     cat     m  1994-03-17  0000-00-00
8      Buffy  Harold     dog     f  1989-05-13  0000-00-00
9       Fang   Benny     dog     m  1990-08-27  0000-00-00
10    Bowser   Diane     dog     m  1979-08-31  1995-07-29
11    Chirpy    Gwen    bird     f  1998-09-11  0000-00-00
12  Whistler    Gwen    bird  None  1997-12-09  0000-00-00
13      Slim   Benny   snake     m  1996-04-29  0000-00-00
14    KKUKKU    sona     dog  None        None        None
15    DDoDDo    sona    lion  None        None        None
16      kiki    sona    None  None        None        None

In [80]:
conn.close()

In [79]:
def db_close(conn,cursor):
    cursor.close()
    conn.close()